@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Play&display=swap');

* {
	scrollbar-color: #ccc #fff;
	scrollbar-width: thin;
	font-family: 'Play', sans-serif;
	box-sizing: border-box;
}

/***flex***/
.fh__flex {
	padding: 30px;
	margin-bottom: 30px;
	background: #eee;
	overflow: hidden;

	--shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
	--index: 100;
	--radius: 20px;
}


.fh__flex_range {
	position: relative;
	display: inline-block;
	width: 280px;
	margin-left: 50%;
	margin-bottom: 30px;
	transform: translate(-140px);
	cursor:  pointer;
	z-index: var(--index);
}


.fh__flex_style {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: center;
	background: rgba(255, 255, 255, .9);
	padding: 20px 20px 0;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	z-index: var(--index);
}

.fh__flex_style-prop {
	min-width: 180px;
	margin-bottom: 20px;
}

.fh__flex_style-head {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}

.fh__flex_style-check {
	display: flex;
	flex-direction: column;
}

.fh__flex_style-check label {
	cursor: pointer;
	margin-bottom: 5px;
	margin-left: -5px;
}

.fh__flex_style-check input {
	margin-right: 5px;
}


.fh__flex_box {
	width: 450px;
	height: 270px;
	margin: 30px auto;
	border:  1px solid #555;
	box-sizing: content-box;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.fh__flex_box-item {
	min-width: 90px;
	min-height: 90px;
	line-height: 90px;
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 3px 3px rgba(0, 0, 0, .3);
	color: #fff;
	opacity: .7;
}


.fh__flex_css {
	position: relative;
	width: 280px;
	background: rgba(50, 50, 50, .9);
	margin: 0 auto;
	color: #eee;
	padding: 20px;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	z-index: var(--index);
}


@media screen and (max-width: 540px) {
	.fh__flex {
		padding: 30px 10px;
	}

	.fh__flex_box {
		width: 100%;
		max-width: 460px;
	}

	.fh__flex_style {
		padding: 20px;
	}
}
/***END flex***/